{
    "AD"    : "/Users/zemagno/Dropbox/dev/ror/ItMgmt/carga/ad.csv",
    "Zimbra" : "/Users/zemagno/Dropbox/dev/ror/ItMgmt/carga/infozimbra.txt",
    "ZMail" : "/Users/zemagno/Dropbox/dev/ror/ItMgmt/carga/infozmail.txt",
    "Google"    : "/Users/zemagno/Dropbox/dev/ror/ItMgmt/carga/google_report.users.semvfe.csv",
    "O365" : "/Users/zemagno/Dropbox/dev/ror/ItMgmt/carga/Licenses_office365.csv",
    "GruposAD"    : "/Users/zemagno/Dropbox/dev/ror/ItMgmt/carga/gruposAD.csv"
}
