Procfile
.DS_Store
.bundle
/db/*.sqlite3
*.svg
*.rdb
*.old
nohup.out
/id_rsa/*
/db/sphinx/**
/tmp
/temp
/apoio
/templates
.gitignore
/db/sphinx/development/*
/db/sphinx/development/**
config/local_env.yml
*.sql
/config/itam**
/config/database.yml
/config/config/thinking_sphinx.yml
/config/development.sphinx.conf
/config/production.sphinx.conf
/.idea
/carga
/dump
/CargaInventarios
/JSON
getsql.sh
/log
/test
/public/assets/**
*.lock
*.old
*.out
dump.rdb
/codereview
