Procfile
.DS_Store
.bundle
db/*.sqlite3
log/
log/*
public/imagens/*
apoio/*
apoio/**
apoio
id_rsa/*
db/sphinx/**
tmp/
tmp/**
apoio/
apoio/*
apoio/**
.gitignore
db/sphinx/development/*
db/sphinx/development/**
config/local_env.yml
*.sql