Procfile
.DS_Store
.bundle
/db/*.sqlite3
*.svg
/id_rsa/*
/db/sphinx/**
/tmp
/apoio
.gitignore
/db/sphinx/development/*
/db/sphinx/development/**
config/local_env.yml
*.sql
/config/itam**
/.idea
/carga
/CargaInventarios
/JSON
getsql.sh
/log
/spec
/features
/test
/public/assets/**


