<h1>Funcionarios</h1>

<%= link_to "Pesquisar novamente", "/GestaoUsuarios?search=''" %>
<table>
  <tr>
    <th>Login</th>
    <th>Nome</th>
    
  </tr>

<% if @f.count==0 %>
   <p><p>Nenhum usuario achado 
<% end %>  

<% @f.each do |func| %>
  <tr>
    <td><%= link_to(func.Login,"/GestaoUsuarios?search=#{func.Login}") %></td>
    <td><%= func.Nome %></td>
    
  </tr>
<% end %>
</table>

<br />

