
<h1>Parametros</h1>

<table id="coolTable" class="display">
<thead>
  <tr>
    <th>Tipo</th>
    <th>Subtipo</th>
    <th>Valor</th>
   </tr>
</thead>
<tbody>
<% @parametros.each do |parametro| %>
  <tr>
   
    <td><%= link_to parametro.tipo, edit_parametro_path(parametro) %></td>
    <td><%= parametro.subtipo %></td>
    <td><%= parametro.valor[0,400] if ! parametro.valor.blank? %></td>
    
  </tr>
<% end %>
</tbody>
</table>

