<h1>Listing parametros</h1>

<table>
  <tr>
    <th>Tipo</th>
    <th>Subtipo</th>
    <th>Valor</th>
    <th></th>
  </tr>

<% @parametros.each do |parametro| %>
  <tr>
    <td><%= parametro.tipo %></td>
    <td><%= parametro.subtipo %></td>
    <td><%= parametro.valor %></td>
    <td><%= link_to 'Alterar', edit_parametro_path(parametro) %></td>
  </tr>
<% end %>
</table>

<br />

