<h1>Listing parametros</h1>

<table>
  <tr>
    <th>Tipo</th>
    <th>Subtipo</th>
    <th>Valor</th>
   </tr>

<% @parametros.each do |parametro| %>
  <tr>
   
    <td><%= link_to parametro.tipo, edit_parametro_path(parametro) %></td>
    <td><%= parametro.subtipo %></td>
    <td><%= parametro.valor %></td>
    
  </tr>
<% end %>
</table>

<br />

