
<style>
.style0,td{color:#000;font-size:12pt;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri,sans-serif;mso-font-charset:0;mso-number-format:General;text-align:general;vertical-align:bottom;border:none;mso-background-source:auto;mso-pattern:auto;mso-protection:locked visible;white-space:nowrap;mso-rotate:0}.xl65,td{mso-style-parent:style0}<style><!--table{mso-displayed-decimal-separator:"\.";mso-displayed-thousand-separator:"\,"}@page{margin:1in .75in 1in .75in;mso-header-margin:.5in;mso-footer-margin:.5in}.style0{mso-style-name:Normal;mso-style-id:0}td{padding-top:1px;padding-right:1px;padding-left:1px;mso-ignore:padding}.xl65,.xl66{border-top:none;border-right:none;border-bottom:.5pt solid #9BC2E6;border-left:none;background:#DCE6F1;mso-pattern:#DCE6F1 none}.xl68,.xl70,.xl71{mso-number-format:"_-* \#\,\#\#0\.00_-\;\\-* \#\,\#\#0\.00_-\;_-* \0022-\0022??_-\;_-\@_-"}.xl65{font-size:11pt;font-weight:700}.xl66{mso-style-parent:style0;font-size:11pt;font-weight:700;text-align:right}.xl69,.xl70{font-size:11pt;font-weight:700;border-top:.5pt solid #9BC2E6;border-right:none;border-bottom:none;border-left:none;background:#DCE6F1;mso-pattern:#DCE6F1 none}.xl67,.xl69{mso-style-parent:style0;text-align:left}.xl68{mso-style-parent:style0}.xl70{mso-style-parent:style0}.xl71{mso-style-parent:style0;text-align:right}.xl72{mso-style-parent:style0;mso-number-format:"_-* \#\,\#\#0_-\;\\-* \#\,\#\#0_-\;_-* \0022-\0022??_-\;_-\@_-"}
-->
</style>



<table border=0 cellpadding=0 cellspacing=0 width=688 style='border-collapse:
 collapse;table-layout:fixed;width:688pt'>
 <col width=198 style='mso-width-source:userset;mso-width-alt:8448;width:198pt'>
 <col width=94 style='mso-width-source:userset;mso-width-alt:3029;width:94pt'>
 <col width=94 style='mso-width-source:userset;mso-width-alt:3029;width:94pt'>
 <col width=94 span=4 style='width:94pt'>
 <col width=94 style='mso-width-source:userset;mso-width-alt:4010;width:94pt'>
 <col width=94 style='mso-width-source:userset;mso-width-alt:4010;width:94pt'>

 <!-- <tr height=15 style='height:15.0pt'>
  <td height=15 width=198 style='height:15.0pt;width:198pt'></td>
  <td width=65 style='width:65pt'></td>
  <td width=71 style='width:71pt'></td>
  <td width=65 style='width:65pt'></td>
  <td width=65 style='width:65pt'></td>
  <td width=65 style='width:65pt'></td>
  <td width=65 style='width:65pt'></td>
  <td width=94 style='width:94pt'></td>
 </tr> -->
 <tr height=45 style='height:45.0pt;mso-xlrowspan:3'>
  <td height=45 colspan=8 style='height:45.0pt;mso-ignore:colspan'></td>
 </tr>


<!--  <tr height=15 style='height:15.0pt'>
 <% @licencas[1][0].each do |l| %>
  <td class=xl66><span style="mso-spacerun:yes">&nbsp;</span><%=l %></td>
 <% end %>
 </tr> -->

 <% @licencas[1].each do |linha| %>
 <tr height=15 style='height:15.0pt'>
     <% linha.drop(1).each do |col| %>
        <td height=15 class=xl67 style='height:15.0pt'><%=col %></td>
      <% end %>
 </tr>
 <% end %> 
 
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl69 style='height:15.0pt'>Total Geral</td>
  <td class=xl70 align=right> 325.00 </td>
  <td class=xl70 align=right> 70.00 </td>
  <td class=xl70 align=right> 405.00 </td>
  <td class=xl70 align=right> 490.00 </td>
  <td class=xl70 align=right> -   </td>
  <td class=xl70 align=right> 100.00 </td>
  <td class=xl70 align=right> 1,390.00 </td>
 </tr>
 <tr height=45 style='height:45.0pt;mso-xlrowspan:3'>
  <td height=45 colspan=8 style='height:45.0pt;mso-ignore:colspan'></td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl65 style='height:15.0pt'>Software</td>
  <td class=xl66>Qtde</td>
  <td class=xl66>Valor</td>
  <td colspan=5 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl67 style='height:15.0pt'>Microsoft Office</td>
  <td class=xl72 align=right> 5 </td>
  <td class=xl71> 325.00 </td>
  <td colspan=5 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl67 style='height:15.0pt'>Microsoft Visio</td>
  <td class=xl72 align=right> 1 </td>
  <td class=xl71> 70.00 </td>
  <td colspan=5 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl67 style='height:15.0pt'>Microsoft Project</td>
  <td class=xl72 align=right> 3 </td>
  <td class=xl71> 405.00 </td>
  <td colspan=5 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl67 style='height:15.0pt'>Microsoft Visual Studio</td>
  <td class=xl72 align=right> 1 </td>
  <td class=xl71> 490.00 </td>
  <td colspan=5 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl67 style='height:15.0pt'>MetaFrame</td>
  <td class=xl72 align=right> -   </td>
  <td class=xl71><span style="mso-spacerun:yes">&nbsp;</span>A definir<span
  style="mso-spacerun:yes">&nbsp;</span></td>
  <td colspan=5 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl67 style='height:15.0pt'>MicroFocus MFE</td>
  <td class=xl72 align=right> -   </td>
  <td class=xl71> -   </td>
  <td colspan=5 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl67 style='height:15.0pt'>Sybase PowerBuilder</td>
  <td class=xl72 align=right> -   </td>
  <td class=xl71><span style="mso-spacerun:yes">&nbsp;</span>A definir<span
  style="mso-spacerun:yes">&nbsp;</span></td>
  <td colspan=5 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl67 style='height:15.0pt'>Sybase PowerDesigner</td>
  <td class=xl72 align=right> -   </td>
  <td class=xl71><span style="mso-spacerun:yes">&nbsp;</span>A definir<span
  style="mso-spacerun:yes">&nbsp;</span></td>
  <td colspan=5 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl67 style='height:15.0pt'>Delphi</td>
  <td class=xl72 align=right> 1 </td>
  <td class=xl71> 100.00 </td>
  <td colspan=5 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl69 style='height:15.0pt'>Total Geral</td>
  <td class=xl70>&nbsp;</td>
  <td class=xl70 align=right> 70.00 </td>
  <td colspan=5 style='mso-ignore:colspan'></td>
 </tr>
</table>
