<h1>Revalidação de Servidor</h1>

Bom dia, 

Precisamos revalidar algumas informacoes do servidor abaixo:

<p>Descricao: <%= @ci.descricao %>,</p>
<p>Responsavel: <%= @ci.Owner %>,</p>
<p>IP: <%= @ci.atributos[6][1] %></p>
<p>Servicos existente nesse servidor: <%= @ci.atributos[9][1] %></p>

<h2>Por favor, responda a esse email validando as informações acima.</h2>

Obrigado