<h1>Revalidação de Servidor</h1>

Bom dia, 

Precisamos revalidar algumas informacoes do servidor abaixo:

<p>Descricao: <%= @ci.descricao %>,</p>
<p>Owner: <%= @ci.Owner %>,</p>
<p>IP: <%= @ci.atributos[6][1] %></p>
<p>Servicos: <%= @ci.atributos[9][1] %></p>

<h2>Por favor, responda a esse email confirmando as informação acima.</h2>

Obrigado