<table>
  <tr>
 <% @campos.each do |titulo| %>   
    <th><%= titulo %></th>
 <% end %> 
  </tr>

<% @resultado.each do |fields| %>
  <tr>
    <% fields.each_with_index do |valor,i| %>
       <td><%= genField(valor,@campos[i],0,fields).html_safe %></td>       
  <% end %> 
  </tr>
<% end %>
</table>
<br/>

