
<table>
  <tr>
 <% @campos.each do |titulo| %>   
    <th><%= titulo %></th>
 <% end %> 
  </tr>

<% @resultado.each do |parametro| %>
  <tr>

    <% parametro.each_with_index do |valor,i| %>
       <% if i==0 then %>
           <td><a href="/cis/<%= valor %>"/a><%= valor %></a></td>
       <% else %>       
          <td><%= valor %></td>
       <% end %>     
  <% end %> 
  </tr>
<% end %>
</table>
<br/>

