<p id="notice"><%= notice %></p>

<p>
  <b>Area:</b>
  <%= @areafornecedores.area %>
</p>


<%= link_to 'Editar', edit_areafornecedore_path(@areafornecedores) %> |
<%= link_to 'Listagem', areafornecedores_path %>
