<h1>New itens_checklist</h1>

<%= render 'form' %>

<%= link_to 'Cancelar', itens_checklists_path %>
<!-- NAO PERDER TEMPO ALTERANDO ESSE INDEX, pois qq manutencao sera toda no Checklists.. -->

<!-- NAO PERDER TEMPO ALTERANDO ESSE INDEX, pois qq manutencao sera toda no Checklists.. -->

<!-- NAO PERDER TEMPO ALTERANDO ESSE INDEX, pois qq manutencao sera toda no Checklists.. -->

<!-- NAO PERDER TEMPO ALTERANDO ESSE INDEX, pois qq manutencao sera toda no Checklists.. -->

<!-- NAO PERDER TEMPO ALTERANDO ESSE INDEX, pois qq manutencao sera toda no Checklists.. -->