<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @tipocontrato.descricao %>
</p>


<%= link_to 'Editar', edit_tipocontrato_path(@tipocontrato) %> |
<%= link_to 'Listagem', tipocontratos_path %>
