<div id="stylized" class="myform">
<%= javascript_include_tag "validador_atributos.js" %>

<%= render 'form' %>

<div class="spacer1"></div>
<%= link_to '[Cancelar]', cadrelatorios_path %>

</div>



