<p>
<table>
   <tr><th>Checklist: <%= @checklist.descricao %></th></tr>
   <tr><td>  
       Tipo Ci: <%= @checklist.tipoci_tipo %>
   </td></tr>
   <tr><td>
        Executores: <%= @checklist.users %>
   <td></tr>
</table>	