p, h1, form, button{
	border:0; 
	margin:0; 
	padding:0;
}
.spacer {
	clear:both; 
	height:2px;		
}

.spacer1 {
	clear:both; 
	height:1px;		
}


.spacer10 {
	clear:both; 
	height:30px;		
}

/* ----------- My Form ----------- */
.myform{
	margin:0 auto;
	#width:800px;
	padding:14px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

/* ----------- stylized ----------- */
/* caixa azul principal */
#stylized {
	border:solid 2px #b7ddf2;
	background:#ebf4fb;
}

#stylized h1 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:8px;
}
#stylized p{
	font-size:11px;
	color:#666666;
	margin-bottom:20px;
	border-bottom:solid 1px #b7ddf2;
	padding-bottom:10px;
}

#stylized label{
	display:block;
	font-weight:bold;
	text-align:right;
	width:160px;
	float:left;
}
#stylized .small{
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:160px;
	float:left;
}
#stylized input{
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	margin:2px 0 20px 10px;
}

#stylized select{
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	margin:2px 0 20px 10px;
}

#stylized .asmall{
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	padding:0px 10px;
	text-align:left;
	width:500px;
	float:left;
}

#stylized .URL {
	font-size:12px;
	width:400px;
}
/**/
#stylized actions{
	clear:both;
	margin-left:150px;
	width:125px;
	height:31px;
	background:#666666  no-repeat;
	text-align:center;
	line-height:31px;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
}

#stylized button{
	clear:both;
	margin-left:150px;
	width:125px;
	height:31px;
	background:#666666  no-repeat;
	text-align:center;
	line-height:31px;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
}

#flash_notice,
#flash_error,
#flash_info,
#flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error,
#flash_info,
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.flash {
    text-align: center;
    font-size:  18px;
    padding:    .3em .4em;
    margin:             0 auto .5em;
    clear:              both;
    width: 800px;
}

.flash.error {
    border: thin solid #8b0000;
    background: #ffc0cb;
}

.flash.notice, .flash.info {
    border: thin solid #8b0000;
    background: #ffc0cb;
}

.flash.warning {
   	border: thin solid #8b0000;
    background: #ffc0cb;
}

.flash .close {
    float:      right;
}

.flash .close a {
    color:                              #f00;
    text-decoration:    none;
}

.mytooltip {
cursor: help;
color: green;
white-space:pre-wrap;
}

.CIrequired:after { content:"*";  color: red}
