/*/*/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-slab-v6-latin/roboto-slab-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('../fonts/roboto-slab-v6-latin/roboto-slab-v6-latin-regular.eot?#iefix ') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-slab-v6-latin/roboto-slab-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-slab-v6-latin/roboto-slab-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-slab-v6-latin/roboto-slab-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-slab-v6-latin/roboto-slab-v6-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}



.form-control::-webkit-input-placeholder {
font-family: 'Times New Roman';
color:#a8a8a8;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  font-family: 'Times New Roman';
color:#a8a8a8;
}
 
.form-control::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Times New Roman';
  color:#a8a8a8;
}
 
.form-control:-ms-input-placeholder {
  font-family: 'Times New Roman';
color:#a8a8a8;
}

.campo_obrigatorio:after {
  content:" (OBRIGATORIO)";
  color:red;
  font-size: 9px;
}

.campo_readonly:after {
  content:" (BLOQUEADO PARA EDIÇÃO)";
  color:red;
  font-size: 9px;
}

.link_logar_google
{
  text-align: center;
  color: #339CCB;

}


.margin-left{
    margin-left: 5px !important;
}

.itam_checkbox_margin-left{
    margin-left: 5px !important;
}

.margin-botton{
    margin-top: 5px;
}


.itam_btn_hyperlink_cis {
      line-height: 1.2;
}

.itam_cis_title {
  background-color: #aacfef;
  /*font-weight: bold;*/
}

.itam_cis_value {
   background-color: #c4e3ff;
}
.itam_cis_panel {
   background-color: #c4e3ff;
}

.itam_edit_sql {
  font-family:monospace;
  /*background: #4f4f4f;*/
  font-size: 0.8em;

}

header {
  position: relative; /* irei posicionar os elementos dentro desse block "absolute" 
                         senao, os elementos 'absolutes' serão relativos ao BODY */
}

footer {
  /*background-image: url(/fundo-rodape.png);*/
  background-color: #e7e7e7;
  clear: both;
  position:absolute;
  /*bottom:0; */  
  width:100%;
  height:40px;   /* Height of the footer */

}

.itam_footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

footer img {
    padding: 4px 4px 4px;
    max-width:40px;
    max-height:40px;
}

footer spam {
  font-size: 10px;
  /*display: block;*/
}


@media (max-width: 1350px) {
  .itam-search-menu {
    display:none;
  } 
}

.itam-search-menu-input {
  width: 30px;
  display: none;
  bor
}



body {
	color: #333333;
	/*background: #ff0000;*/
	font-family: "Roboto Slab", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body h1 img {
  max-width:48px;
  max-height:48px;
}

.painel {
/*  margin-left: 1%;
  margin-right: 1%;*/
  /*border-style: solid;*/
  margin: 10px 10px 10px 10px;
  /*padding: 10px 10px 10px 10px;*/


}

input:invalid {
	outline: 1px solid #cc0000;
}

.navbar {
	margin: 0;
}

#searchCI {
	width: 350px;
}

table.generalTable {
  border-spacing: 0px;
}
.generalTable th, 
.generalTable td {
  padding: 5px 30px 5px 10px;
  border-spacing: 0px;
  font-size: 90%;
  margin: 0px;
}
.generalTable th, 
.generalTable td {
  text-align: left;
  background-color: #e0e9f0;
  border-top: 1px solid #f1f8fe;
  border-bottom: 1px solid #cbd2d8;
  border-right: 1px solid #cbd2d8;
}
.generalTable tr.head th {
  color: #fff;
  background-color: #90b4d6;
  border-bottom: 2px solid #547ca0;
  border-right: 1px solid #749abe;
  border-top: 1px solid #90b4d6;
  text-align: left;
    text-shadow: -1px -1px 1px #666666;
  letter-spacing: 0.15em;
  font-size: 1.2em;
}
.generalTable td {
  /*text-shadow: 1px 1px 1px #ffffff;*/
}
.generalTable tr.even td, 
.generalTable tr.even th {
  background-color: #e8eff5;
}
.generalTable tr.head th:first-child {
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}
.generalTable tr.head th:last-child {
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
}



      /********************************************************************/
    /*** PANEL PRIMARY ***/
    .panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
    }
    .panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
    }
    .panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
    }
    /********************************************************************/
    /*** PANEL PRIMARY ***/
    .with-nav-tabs.panel-primary .nav-tabs > li > a,
    .with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
    }
    .with-nav-tabs.panel-primary .nav-tabs > .open > a,
    .with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
    .with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
    .with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
    background-color: #3071a9;
    border-color: transparent;
    }
    .with-nav-tabs.panel-primary .nav-tabs > li.active > a,
    .with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
    .with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
    color: #428bca;
    background-color: #fff;
    border-color: #428bca;
    border-bottom-color: transparent;
    }
    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
    }
    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;
    }
    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
    }
    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
    }
    }


/*ul.nav a:hover { color: #000 !important; }*/


/*.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #FFFF00;
    color: #FFC0CB;
} */   */*/