<div id="stylized" class="myform">
<h1><%= title %></h1>
<% cis.each do |ci| %>
  </br>
  <%= link_to ci.chave, ci %> <%= " - #{ci.descricao} - #{ci.nice_tipoci} - #{ci.Owner} - Data ultima Mudanca - #{ci.dataChange}" %>
  <font color="red"><%= " - #{ci.status.upcase}" if ci.statusci_id > 1 %></font>
<% end %>
</div>

