<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Le styles -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>
    <style type="text/css">
    /********************************************************************/
    /*** PANEL PRIMARY ***/
    .panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
    }
    .panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
    }
    .panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
    }
    /********************************************************************/
    /*** PANEL PRIMARY ***/
    .with-nav-tabs.panel-primary .nav-tabs > li > a,
    .with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
    }
    .with-nav-tabs.panel-primary .nav-tabs > .open > a,
    .with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
    .with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
    .with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
    background-color: #3071a9;
    border-color: transparent;
    }
    .with-nav-tabs.panel-primary .nav-tabs > li.active > a,
    .with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
    .with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
    color: #428bca;
    background-color: #fff;
    border-color: #428bca;
    border-bottom-color: transparent;
    }
    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
    }
    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;
    }
    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
    }
    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
    }
    }</style>
    <body>
        <div class="container">
            <!-------->
            <div id="content">
                <div class="panel with-nav-tabs panel-primary">
                    <div class="panel-heading">
                        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                            <% @tabs.each do |t| %>
                               <li><a href="#orange" data-toggle="tab"><%= t%></a></li> 
                            <% end %>
                            <li class="active"><a href="#red" data-toggle="tab">Red</a></li>
                            <li><a href="#orange" data-toggle="tab">Orange</a></li>
                            <li><a href="#yellow" data-toggle="tab">Yellow</a></li>
                            <li><a href="#green" data-toggle="tab">Green</a></li>
                            <li><a href="#blue" data-toggle="tab">Blue</a></li>
                        </ul>
                    </div>
                    
                    <div class="panel-body">
                        <div id="my-tab-content" class="tab-content">
                            <div class="tab-pane active" id="red">
                                <h1>Red</h1>
                                <p>red red red red red red</p>
                            </div>
                            <div class="tab-pane" id="orange">
                                <h1>Orange</h1>
                                <p>orange orange orange orange orange</p>
                                kfowejk powef
                                oiuwehf
                                oiwehjf
                                ouwehf
                            </div>
                            <div class="tab-pane" id="yellow">
                                <h1>Yellow</h1>
                                <p>yellow yellow yellow yellow yellow</p>
                                iewoj f
                                ijwe f
                                wioej f
                                wioej f
                            </div>
                            <div class="tab-pane" id="green">
                                <h1>Green</h1>
                                <p>green green green green green</p>
                                <p>green green green green green</p>
                                <p>green green green green green</p>
                                <p>green green green green green</p>
                            </div>
                            <div class="tab-pane" id="blue">
                                <h1>Blue</h1>
                                <p>blue blue blue blue blue</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
            jQuery(document).ready(function ($) {
            $('#tabs').tab();
            });
            </script>
            </div> <!-- container -->
            <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </body>
    </html>