<div class="row">
	  <div class="col-sm-2 itam_cis_title"><%=title[0]%></div>
	  <div class="col-sm-3 itam_cis_value"><%=value[0]%></div> 
	  <div class="col-sm-2 itam_cis_title"><%=title[1]%></div>
	  <div class="col-sm-3 itam_cis_value"><%=value[1]%></div> 
</div> 