<%=  form_for :inclusao, :remote => true, :html => {:id => "novo_impactado"} do |f|  %>
<label>Novo Impactado
<span class="small">Entre com a Chave </span>
</label>
<%= hidden_field_tag 'idci', @idci%>
<%= f.text_field :impactado %>
<div class="buttons">
    <%= f.submit "Criar" %>
</div>
</br>

<% end %>
