<div id="stylized" class="myform">
<%= javascript_include_tag "validador_atributos.js" %>
<h1>CMDB - Alterando Item de Configuração</h1>
<%= render 'new_or_edit_form' %>
</div>


<!--%= link_to 'Cancelar', tipocis_path %-->