<div id="stylized" class="myform">
<!--%= javascript_include_tag "validador_cis.js" %-->
<%= javascript_include_tag "validador_atributos.js" %>
<h1>CMDB - Novo Item de Configuração</h1>
<%= render 'new_or_edit_form' %>
</div>

