<%= javascript_include_tag "validador_cis.js" %>

<div id="stylized" class="myform">
<h1>CMDB - Novo Item de Configuração</h1>
<%= render 'new_or_edit_form' %>

</div>


<!--  % = link_to 'Cancelar', ci_path % -->
