<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @indicadores_financeiros.nome %>
</p>


<%= link_to 'Edit', edit_indicadores_financeiro_path(@indicadores_financeiros) %> |
<%= link_to 'Back', indicadores_financeiros_path %>
