<p>Ola <%= @resource.email %>!</p>

<p>Alguem solicitou a mudança da sua senha. Voce poderá obter nova senha, clicando no link abaixo.<p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se voce não solicitou a mudança de senha, ignore esse email<p>
<p>A sua senha não mudará ate que voce acesso o link acima e informe uma nova senha.<p>