<%= stylesheet_link_tag "tela_login.css" %>
<div class="jumbotron">
    <h1>Sistema de Gestao de Ativos </h1>
    <p>Bem vindo ao sistema de Gestão de Ativos..</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-offset-5 col-md-3">
      <div class="form-login">
        <h4>Gestao de Ativos</h4>
        <button class="btn-gp"><a href="/auth/google_oauth2">Login with Google </a></button>
        <div class="signup-or-separator">
          <span>Ou</span>
        </div>
        <br>
        <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
        </br>
        <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
        </br>
        <div class="wrapper">
          <span class="group-btn">
            <a href="#" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></a>
          </span>
        </div>
      </div>
      
    </div>
  </div>
</div>