doctype html
html
  header
    meta[charset="utf-8"]
    title
      = content_for?(:title) ? content_for(:title) : 'Gestão de Ativos'

    = stylesheet_link_tag "bootstrap.min.css"

    = javascript_include_tag "jquery.js"
    = javascript_include_tag "jquery-ujs", "application"
    = javascript_include_tag "bootstrap.min.js"
    = stylesheet_link_tag "scaffold.css" 
    = stylesheet_link_tag "CMDBstyle.css" 
    = stylesheet_link_tag "DataTables-1.10.5/media/css/jquery.dataTables.min.css"
    = javascript_include_tag "DataTables-1.10.5/media/js/jquery.dataTables.min.js"
    /= stylesheet_link_tag "jquery-ui-timepicker-addon.css"
    /= stylesheet_link_tag "jquery.datetimepicker.css" 
    /= javascript_include_tag "jquery.datetimepicker.js"
    = stylesheet_link_tag "itam.css"
    = csrf_meta_tag
  body.container
    - if current_user and ! current_user.is_a :usuario
        .painel       
            = render :partial => "mostra_erros"
            = yield 
    - if ! current_user
      .container
        .row
          .col-md-offset-7.col-md-3
              button.btn-gp
                a[href="/auth/google_oauth2"]
                  | Login with Google 
    - if current_user and current_user.is_a :usuario
        = render :partial => "splash"    
  