<h1>Sub Tipo de Chamados</h1>

<table>
  <tr>
    <th>Tipochamado</th>
    <th>Descricao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sub_tipo_chamados.each do |sub_tipo_chamado| %>
  <tr>
    <td><%= sub_tipo_chamado.TipoChamado.descricao %></td>
    <td><%= sub_tipo_chamado.descricao %></td>
  </tr>
<% end %>
</table>

<br />
